@charset "utf-8";
/* Mobile XE */
article,
section, 
form {
	margin:0;
	padding:0;
}
textarea {
	resize:vertical;
}
img {
	border:0;
}
a {
	color:#000;
}
/* Background */
.rp li li,
.rp .btn,
.sh .tgb,
.st .wt {
	background-color:transparent;
	background-image:url(mx.png);
	background-repeat:no-repeat;
}
/* common */
.fl{float:left}
.fr{float:right}
.fsi{font-style:italic}
.cb {position:relative}
.cb:after,
.xe_content:after {
    content:"";
    display:block;
    clear:both;
}
.st .tbn:after,
.gn li a:after{
	position:absolute;
	top:7px;
	right:10px;
	content:"›";
	color:#888;
	font-size:18px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif
}
/* Body */
.bd {	
	background:#f8f8f8;
}
/* head */
.st > h2 {
	background: #CECECE;
	border-bottom:1px solid #bfbfbf;
	text-shadow: 1px 1px 0 #fff;
	margin:0;
	padding: 10px 7px;
	font-size: 15px;
	color:#333;
}
.st > h2 > * {
	margin-right: 10px;
}
.st > h2 em {
	color: #6352d2;
	font-size: 12px;
	font-style: normal;
}
.st > h2 > .ca a{
	font-size: 15px;
	color:#333;
}
.st > h2 > .ca:after{
	content:"";
	display:inline-block;
	position:relative;
	left:4px;
	width:0;
	height:0;
	border:4px solid;
	border-color:transparent;
	border-left-color:#8d7de1;
	margin:0 -8px 0 0;
}
.st > h2 > .wt {
	position:absolute;
	top:6px;
	right:-3px;
	background-position:0 0;
	display:inline-block;
	width:28px;
	height:27px;
	font-size:0;
	overflow:hidden;
	text-indent:-28px;
}
.st .ex{
	font-size:12px;
}
.st .tbn{
	width:100%;
	margin:0;
	padding:8px 10px;
	overflow:visible;
	border:0;
	cursor:pointer;
	background:#868686;
	color: #fff;
	border-bottom: 1px solid #ccc8be;
	font-size: 14px;
	text-align:left;
	font-weight: bold;
}
.st .tbn:after{
	color:#fff;
	font-weight: normal;
	right:12px;
}
.pn {
	font-size:14px;
	text-align:center;
	background:#f2f0ec;
	padding:13px 0;
	border-top:1px solid #fff;
	color:#555;
}
.pn.ts h2 {
	margin: 0 0 5px;
	color: #000;
}
/* Pagination */
.pn .prev,
.pn .next {
	font-weight: bold;
}
.pn .prev:before,
.pn .next:after {
	content:"";
	display:inline-block;
	width:0;
	height:0;
	border:4px solid;
	border-color:transparent;
}
.pn .prev:before {
	margin:0 4px 0 0;
	border-right-color:#999;
}
.pn .next:after {
	margin:0 0 0 4px;
	border-left-color:#999;
}
.pn strong {
	margin:0 10px;
}
/* desc */
.pn.ts {
	padding:5px 10px 10px;
	text-align:left;
	border-top:0;
	border-bottom: 1px solid #ccc8be;
}
.pn.ts h3 {
	margin: 0;
	color: #333;
}
.pn.ts > p {
	color: #555;
	margin: 0 5px;
	padding-top:5px;
	font-size:12px;
}
/* Search */
.sh{
	border:1px solid #bfbfbf;
	border-left:0;
	border-right:0;
	background:#dadada;
	padding:8px 100px;
	text-align:center;
}
.sh select{
	width:80px;
	margin:0;
	height:24px;
    position:absolute;
    left:10px;
    top:8px;
}
.sh input[type=search]{
	width:100%;
	height:24px;
}
.sh .sb{
	width:80px;
	height:24px;
	border:1px solid #666;
	color:#eee;
	font-size:12px;
	padding:0 2px;
	background-color:#777;
	box-shadow:0 0 1px #fff inset;
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor:pointer;
    position:absolute;
    right:10px;
    top:8px;
}
/* Body */
#xe_message{
	display:none
}
.co{
	margin:10px;
	line-height:1.4;
	font-size:14px;
	color:#333;
}
.co:after{
	content:"";
	display:block;
	clear:both
}
.co .xv{
	border-bottom:1px solid #ccc8be;
	padding-bottom:10px;
	color:#555;
}
.co .xv dt{
	font-weight:bold;
	color:#333;
}
.bd .tags{
	margin:0 10px 10px
}
.bd .tags a{
	font-size:12px;
	color:#555
}
.co #rsv .msa{
	padding:10px;
	margin-bottom:10px;
	border:1px solid #ccc8be
}
.co #rsv .btnArea{
	margin:1em 0;
	text-align:right;
}
.co #rsv .btnArea:after{
	content:"";
	display:block;
	clear:both
}
.co .doc,.rp .cmt{
	padding:0 0 10px;
	min-height:35px;
	white-space:normal;
	overflow:hidden
}
.co .doc.blind,.rp .cmt.blind{
	background:url(../img/common/thum_blind.png) no-repeat right bottom
}
.co .doc.secret,.rp .cmt.secret{
	background:url(../img/common/thum_secret.png) no-repeat right bottom
}
.co .doc{
	min-height:50px
}

/* Global Navigation */
h2.gn{
	padding:0;
}
.gn{
margin:0;
padding:0;
list-style:none;
background:#d3d1cc;
text-shadow:1px 1px 0 #fff
}
.gn li{
background:#c3c3c3;
border:1px solid #a3a09a;
border-left:0;
border-right:0;
margin:0 0 -1px 0
}
.gn li li{
background:#f8f8f8;
border:1px solid #c9c9c9;
border-left:0;
border-right:0
}
.gn li li li{
background:#e8e8e8
}
.gn ul{
margin:0 0 -1px 0;
padding:0;
list-style:none
}
.gn a{
position:relative;
text-decoration:none;
display:block;
padding:10px;
font-size:16px
}
.gn li a{
color:#333
}
.gn li li a:before{
content:"";
display:inline-block;
width:6px;
height:6px;
border:1px dotted #666;
border-top:0;
border-right:0;
margin:0 4px 0 0;
vertical-align:top
}
.gn li li a{
padding-left:15px
}
.gn li li li a{
padding-left:30px
}
.gn li li li li a{
padding-left:45px
}
.gn li li li li li a{
padding-left:60px
}
.gn em{
	color:#6352d2;
	font-size:12px;
	font-style:normal
}
/* List */
.lt{
	margin:0;
	padding:0;
	list-style:none;
	background:#fff;
	font-size:14px
}
.lt li{
	border-bottom:1px solid #ccc8be;
	padding:5px
}
.lt a{
	display:block;
	text-decoration:none;
	color:#000;
	padding:5px;
}
.lt .title{
display:block;
margin:0 0 5px 0
}
.lt .title strong{
font-size:14px;
font-weight:bold
}
.lt .title em{
font-size:12px;
color:#6352d2;
font-style:normal
}
.lt .auth,.rp .auth{
display:block;
font-size:12px;
color:#555;
}
.lt .usept{
	padding:0 1px;
	border:1px solid #bfbfbf;
	font-size:12px;
	font-family:Tahoma;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
.lt .usept.blue{
	background-color:#D4F4FA;
	border:1px solid #5CD1E5
}
.lt time{
font-size:12px;
letter-spacing:-1px
}
.lt.wz li.cb{
	padding:5px;
	display:block;
}
.lt.wz li.cb ul.ifo{
	position:relative;
	padding:0;
	margin:0;
	list-style:none
}
.lt.wz li.cb ul.ifo li{
	white-space:normal;
	word-break:break-all;
	border:0;
	padding:3px 0 0
}
.lt.wz li.cb ul.ifo li:first-child{
padding:0
}
.lt.wz li.cb .thum{
border:1px solid #bfbfbf;
margin-right:10px
}
.lt.wz li.cb .summary{
display:block;
color:#555;
padding-top:2px
}
.lt.wz li.cb .title img[alt="file"]{
display:none
}
.rp .best,.lt .notice,.lt .best{
display:inline-block;
background:#a06acd;
font-weight:bold;
color:#fff;
font-size:12px;
padding:1px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px
}
.rp .best,.lt .best{
background:#ff8000
}
.rp .best{
margin-bottom:5px;
margin-left:10px
}
.rp .best.agree{
background:#A06ACD
}
/* Toggle Open */
.tgo{
display:none;
background:#f8f8f8;
color:#333;
margin:0;
padding:0;
list-style:none;
font-size:14px;
color:#333
}
.tgo.open{
display:block
}
.rp ul{
margin:0;
padding:0;
list-style:none
}
.rp li{
border-bottom:1px solid #c9c9c9;
padding:10px;
margin:0 0 -1px 0;
background-position:-30px -218px
}
.rp .xe_content, .rp p{
margin:0 0 5px 0
}
.rp ul li:after{
content:"";
display:block;
clear:both
}
.rp .rb{
display:inline-block;
width:20px;
height:20px;
text-indent:-28px;
overflow:hidden;
vertical-align:middle;
background-image:url(mx.png)
}
.rp .rb.de{
background-position:0 -168px
}
.rp .rb.ed{
background-position:0 -140px
}
.rp .rb.re{
background-position:0 -196px
}
/* Form Field */
.origin{
padding:10px 0;
margin:0 15px;
font-size:14px;
border-bottom:1px solid #bbb
}
.ff{
position:relative;
margin:0;
padding:0
}
.ff ul{
margin:15px;
padding:0;
list-style:none
}
.ff li{
margin:0 17px 5px 0;
padding:0
}
.ff li.hr{
margin:0 0 5px 0;
}
.ff hr{
color:#fff;
}
.ff label{
margin-right:5px
}
.ff label+input[type=text],.ff label+input[type=password],.ff label+input[type=url],.ff label+input[type=email],.ff.secret input[type=password],.ff label+textarea,.ff label+select{
display:block;
width:100%;
font-size:14px;
margin:2px;
padding:5px
}
.ff label+select{
padding:0;
height:30px
}
.ff .exvar .exnm{
display:block;
margin-bottom:3px
}
.ff .exvar li{
display:inline-block;
margin:0;

}
.ff .exvar .tel{
width:auto;
display:inline;
padding:0;
font-size:inherit
}
.ff .exvar p{
margin:0 5px 5px;
font-size:12px;
color:#888
}
.ff .exvar ul{
margin:0 5px 5px;
padding:0
}
.fsa{
position:relative;
height:50px;
margin:10px 150px 10px 0;
clear:both;
}
.fsa:after{
content:"";
display:block;
clear:both
}
.fsa .fpv,.fsa .fls{
position:absolute;
float:left
}
.fsa .fpv{
width:50px;
height:50px;
border:1px solid #ccc;
padding:2px;
margin:0 10px 5px 0
}
.fsa .fpv img{
display:block;
width:50px;
height:50px
}
.fsa .fls{
width:100%;
margin:0;
margin-left:60px
}
.fsa .fls select{
width:100%;
height:56px
}
.fsa .fct{
position:absolute;
right:-150px;
padding:0px;
font-size:12px
}
.fsa .fct p{
margin:10px 0 0
}
.fsa .fct a{
margin-left:3px
}
.fd{
position:absolute;
top:0;
left:-3000px;
opacity:0;
filter:alpha(opacity=0);
-ms-filter:"alpha(opacity=0)";
-khtml-opacity:0;
-moz-opacity:0
}
/* Button Area */
.bna{
position:relative;
text-align:center;
padding:10px;
margin:0;
}
.bna:after{
content:"";
display:block;
clear:both
}
.bn{
display:inline-block;
line-height:26px !important;
padding:0 10px;
font-size:12px;
font-weight:bold;
border:1px solid;
text-decoration:none;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
cursor:pointer;
vertical-align:middle
}
.bn[type=submit],.bn[type=button]{
height:28px
}
.bn[href]{
height:26px
}
.bn.dark{
border-color:#666;
background:#777 -webkit-gradient(linear,0% 0%,0% 100%,from(#7e7c78),to(#5c5b58));
background:#777 -moz-linear-gradient(top,#7e7c78,#5c5b58);
background-color:#777;
color:#fff;
box-shadow:0 0 1px #fff inset;
-moz-box-shadow:0 0 1px #fff inset;
-webkit-box-shadow:0 0 1px #fff inset
}
.bn.white{
border-color:#b5b5b5;
background:#1b1b1b -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#f6f6f6),color-stop(0.5,#f0f0f0),color-stop(0.5,#e4e4e4));
background:#1b1b1b -moz-linear-gradient(top,#fff,#e4e4e4);
background-color:#fff;
color:#000
}
.bn.small{
padding:2px 5px;
height:14px;
line-height:14px !important;

}
.bn em{
font-style:normal
}
.bn em.cnt{
margin-left:3px
}
/* file List */
.file{
margin:0;
padding:0;
list-style:none
}
.file li{
border-top:1px solid #c9c9c9;
border-bottom:1px solid #c9c9c9;
margin:0 0 -1px 0
}
.file li.iva{
text-decoration:line-through
}
.file a{
text-decoration:none;
display:block;
padding:10px 0 10px 10px;
color:#333
}
.file .size{
font-size:12px;
margin:0 0 0 5px;
padding:0;
color:#666
}
.fil{
list-style:none;
}
.fil:after{
content:"";
display:block;
clear:both
}
.fil li{
float:left;
margin:0;
padding:0 10px 5px 0 !important;
display:inline-block;
border-bottom:0 !important
}
.fil li a{
color:#888;
text-decoration:none
}
.fil li a:hover,.fil li a:active,.fil li a:focus{
text-decoration:underline
}
.file li a.idw{
font-weight:bold
}
.nav .no{
display:inline-block;
width:33px;
color:#999
}
/* Tag List */
.tsl{
margin:0;
padding:25px;
line-height:1.2;
text-align:justify
}
.tsl a{
font-size:14px;
color:#666;
text-decoration:underline;
white-space:nowrap;
margin:0 2px
}
/* flag */
.co .vln{
text-align:right;
margin-bottom:10px;
}
.co .vln:after{
content:"";
display:block;
clear:both
}
.co .vln strong{
display:inline-block;
padding:0 8px 0 20px
}
.co .vln a.en strong{
background:url(../../../../admin/tpl/img/flag.en.gif) no-repeat 0 4px
}
.co .vln a.ko strong{
background:url(../../../../admin/tpl/img/flag.ko.gif) no-repeat 0 4px
}
.co .vln a.jp strong{
background:url(../../../../admin/tpl/img/flag.jp.gif) no-repeat 0 4px
}
.co .vln a.fr strong{
background:url(../../../../admin/tpl/img/flag.fr.gif) no-repeat 0 4px
}
.co .vln a.de strong{
background:url(../../../../admin/tpl/img/flag.de.gif) no-repeat 0 4px
}
.co .vln a.ru strong{
background:url(../../../../admin/tpl/img/flag.ru.gif) no-repeat 0 4px
}
.co .vln a.es strong{
background:url(../../../../admin/tpl/img/flag.es.gif) no-repeat 0 4px
}
.co .vln a.tr strong{
background:url(../../../../admin/tpl/img/flag.tr.gif) no-repeat 0 4px
}
.co .vln a.vi strong{
background:url(../../../../admin/tpl/img/flag.vi.gif) no-repeat 0 4px
}
.co .vln a.mn strong{
background:url(../../../../admin/tpl/img/flag.mn.gif) no-repeat 0 4px
}
.co .vln a.zh-CN strong{
background:url(../../../../admin/tpl/img/flag.cn.gif) no-repeat 0 4px
}
.co .vln a.zh-TW strong{
background:url(../../../../admin/tpl/img/flag.tw.gif) no-repeat 0 4px
}
.co .vln a{
color:#333
}
.co .vln a strong:hover{
text-decoration:underline
}
.lt img.ise.world{
width:11px;
height:11px;
background:url(mx.png) no-repeat 0 -112px
}
/* license */
.lic{
position:absolute;
left:3px;
bottom:3px;
font-size:12px;
color:#888;
text-decoration:none;
background-color:inherit
}
.lic.fr{
left:auto;
right:3px;
color:#999
}
div.lic{
position:static
}
div.lic a{
color:#999
}
/* member */
span[class^="member_"]{
cursor:pointer
}
/*ff*/
@-moz-document url-prefix() {
	.sh {padding-right:107px;}
    .sh input[type="search"] {height:18px}
}