@charset "utf-8";

/* Mobile XE */

article,
section,
form {
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

img {
	border: 0;
}

a {
	color: #000;
}

form input[type=text],
form input[type=password],
form input[type=url],
form input[type=email],
form textarea,
form select {
	border: 1px solid #bbb;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.bd {
	background: #f8f8f8;
}


/* common */

.fl {
	float: left
}

.fr {
	float: right
}

.fsi {
	font-style: italic
}

.cb {
	position: relative
}

.cb:after,
.xe_content:after {
	content: "";
	display: block;
	clear: both;
}

.st .tbn:after,
.gn li a:after {
	position: absolute;
	top: 7px;
	right: 10px;
	content: "›";
	color: #888;
	font-size: 18px;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif
}

.lt,
.co,
.nav,
.file,
.rp > li > ul > li > div {
	background: #fff;
	border: 1px solid #c9c9c9;
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #333;
	font-size: 14px;
	line-height: 1.4;
	list-style: none
}

.message {
	padding: 10px;
	background-color: transparent!important;
}

#xe_message {
	display: none
}


/* Background */

.st .wt,
.st img.ise,
.file > li a,
.rp > li > ul > li {
	background-color: transparent;
	background-image: url(mx.png);
	background-repeat: no-repeat;
}


/* Body */

.bd {
	position: relative;
	overflow: hidden;
}

.st > .bls {
	min-height: 180px;
}

.st > .co > .doc {
	min-height: 180px;
}

.rp .cmt {
	margin-top: 7px;
	min-height: 60px;
}

.co .xv {
	border-bottom: 1px solid #ccc8be;
	padding-bottom: 10px;
	margin-bottom: 15px;
	color: #555;
}

.co .xv dt {
	font-weight: bold;
	color: #333;
}

.co #rsv .msa {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc8be
}

.co #rsv .btnArea {
	margin: 1em 0;
	text-align: right;
}

.co #rsv .btnArea:after {
	content: "";
	display: block;
	clear: both
}

.co .doc,
.rp .cmt {
	padding: 0 0 10px;
	white-space: normal;
	overflow: hidden
}

.co .doc.blind,
.rp .cmt.blind {
	background: url(../img/common/thum_blind.png) no-repeat right bottom
}

.co .doc.secret,
.rp .cmt.secret {
	background: url(../img/common/thum_secret.png) no-repeat right bottom
}


/* head */

.st > h2 {
	background: #cecece;
	border-bottom: 1px solid #bfbfbf;
	text-shadow: 1px 1px 0 #fff;
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #000;
	text-shadow: 0 0 2px #fff;
}

.st > h2 a {
	color: #000;
	height: 16px;
	text-shadow: 0 0 2px #fff;
}

.st > h2 > * {
	margin-right: 10px;
}

.st > h2 em {
	color: #6352d2;
	font-size: 12px;
	font-style: normal;
}

.st > h2 > a .ca:after {
	content: "";
	display: inline-block;
	position: relative;
	left: 1px;
	width: 0;
	height: 0;
	border: 5px solid;
	border-color: transparent;
	border-left-color: #8d7de1;
	margin: 0 -8px 0 0;
}

.st > h2 > .wt {
	position: absolute;
	top: 3px;
	right: 0px;
	background-position: 0 0;
	display: inline-block;
	width: 8px;
	height: 10px;
	font-size: 0;
	overflow: hidden;
	text-indent: -28px;
	padding: 9px 10px;
	margin: 1px 10px 1px 5px;
}

.st > h2 > .wt.bk {
	background-position: 0 -28px;
}

.st .ex {
	font-size: 12px;
}

.st > h2 > a[href="#noCategory"] {
	cursor: default
}


/* Global Navigation */

.sd {
	top: 0;
	right: 0;
	position: absolute;
	width: 250px;
	height: 100%;
	z-index: 0;
	background: #444;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
}

.gn {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #d3d1cc;
}

.gn ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.gn li {
	background: #444;
	border: 1px solid #333;
	border-right: 0;
	margin: 0 0 -1px 0
}

.gn li.active {
	font-weight: bold;
}

.gn a {
	position: relative;
	text-decoration: none;
	display: block;
	padding: 9px 10px;
	margin: 1px;
	font-size: 14px;
	color: #f1f1f1;
	text-shadow: 0 0 2px #000;
	white-space: nowrap;
	line-height: 16px;
}

.gn ul a:before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 8px;
	border: 1px dotted #888;
	border-top: 0;
	border-right: 0;
	margin: 0 5px 0 0;
	vertical-align: top
}

.gn em {
	font-size: 10px;
	font-style: normal;
}


/* desc */

.pn {
	text-align: center;
	padding: 8px 0;
	border-top: 1px solid #fff;
	background: #f2f0ec;
	color: #777;
	text-shadow: 0 0 2px #fff;
}

.pn.ts {
	padding: 10px 10px;
	text-align: left;
	border-top: 0;
	border-bottom: 1px solid #b5b5b5;
}

.pn.ts h3 {
	margin: 0;
	color: #333;
}

.pn.ts h3 span.sbt {
	color: #555;
	font-size: 14px;
}

.pn.ts > p {
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
}


/* Pagination */

#clpn {
	border-top: 1px solid #ccc8be;
}

.pn .prev {
	padding-right: 15px;
}

.pn .next {
	padding-left: 15px;
}

.pn .prev:before,
.pn .next:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border: 4px solid;
	border-color: transparent;
}

.pn .prev:before {
	margin: 0 4px 0 0;
	border-right-color: #999;
}

.pn .next:after {
	margin: 0 0 0 4px;
	border-left-color: #999;
}

.pn strong {
	margin: 0 10px;
	color: #777;
}


/* Toggle Open */

.tgo {
	display: none;
}

.tgo.open {
	display: block
}

.st .tbn {
	width: 100%;
	margin: 0;
	padding: 8px 10px;
	overflow: visible;
	cursor: pointer;
	background: #868686;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	border: 1px solid #c9c9c9;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.st .tbn:after {
	color: #e9e9e9;
	font-weight: normal;
	right: 12px;
}


/* Search */

.sh {
	border: 1px solid #bfbfbf;
	border-left: 0;
	border-right: 0;
	background: #cecece;
	padding: 8px 110px;
	text-align: center;
}

.sh select {
	width: 90px;
	margin: 0;
	height: 24px;
	position: absolute;
	left: 10px;
	top: 8px;
}

.sh select,
.sh select option {
	white-space: nowrap;
}

.sh input[type=search] {
	width: 100%;
	height: 24px;
}

.sh .sb {
	width: 80px;
	height: 24px;
	border: 1px solid #666;
	color: #eee;
	font-size: 12px;
	padding: 0 2px;
	background-color: #777;
	box-shadow: 0 0 1px #fff inset;
	-moz-box-shadow: 0 0 1px #fff inset;
	-webkit-box-shadow: 0 0 1px #fff inset;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 8px;
}


/* List */

.lt {
	padding: 5px 10px;
}

.lt li {
	border-top: 1px solid #ccc8be;
	padding: 5px 0;
}

.lt li:first-child {
	border-top: 0;
}

.lt a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 5px;
}

.lt .title {
	display: block;
	margin: 0 0 5px 0
}

.lt .title > * {
	vertical-align: middle;
}

.lt .title strong {
	font-size: 14px;
	font-weight: bold
}

.lt .title em {
	font-size: 12px;
	color: #6352d2;
	font-style: normal
}

.lt .auth,
.rp .auth {
	display: block;
	font-size: 12px;
	color: #777;
}

.lt > li .auth .nick {
	position: absolute;
	right: 0;
	bottom: 0;
}

.nav .usept,
.lt .usept,
.rp .best,
.lt .notice,
.lt .best {
	margin: 0 2px 0 0;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	width: 28px;
	padding: 0 2px;
	border: 1px solid #bfbfbf;
	font-style: normal;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	color: #777;
	line-height: 14px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

.nav .usept.blue,
.lt .usept.blue {
	background-color: #D4F4FA;
	border: 1px solid #5CD1E5
}

.lt time {
	font-size: 12px;
	letter-spacing: -1px;
}

.lt.wz li.cb {
	display: block;
}

.lt.wz ul.ifo {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none
}

.lt.wz ul.ifo > li {
	white-space: normal;
	word-break: break-all;
	border: 0;
	padding: 3px 0 0
}

.lt.wz ul.ifo > li:first-child {
	padding: 0
}

.lt.wz ul.ifo > li.auth.cb {
	padding-bottom: 20px
}

.lt.wz ul.ifo > li.auth a {
	display: inline;
	color: #777
}

.lt.wz li.cb .thum {
	border: 1px solid #bfbfbf;
	margin-right: 10px;
	padding: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.lt.wz li.cb .summary {
	display: block;
	color: #555;
	padding-top: 2px;
	margin-bottom: 10px;
}

.lt.wz li.cb .title img[alt="file"] {
	display: none
}

.rp .best,
.lt .notice,
.lt .best {
	background: #eaeaff;
	border: 1px solid #c4c4ff;
}

.lt .notice {
	letter-spacing: -1px;
}

.rp .best,
.lt .best {
	background: #fff1ea;
	border: 1px solid #ffb895;
}

.rp .best {
	margin-bottom: 5px;
	margin-left: 0
}

.rp .best.agree,
.rp .best.disagree {
	border: 1px solid #bfbfbf;
	background: transparent;
	font-size: 12px;
	color: blue;
}

.rp .best.disagree {
	color: red;
}


/* reply */

.rp {
	margin: 0;
	padding: 0;
}

.rp > li > ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.rp > li > ul > li {
	padding: 0;
	margin: 0;
	background-position: -30px -218px;
}

.rp > li > ul > li:after {
	content: "";
	display: block;
	clear: both
}

.rp > li > ul > li.dep {
	background-position: 0px -225px
}

.rp > li > ul > li.dep > div {
	margin-left: 15px;
}

.rp .xe_content,
.rp p {
	margin: 0 0 5px 0
}

.rp .rb {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-indent: -28px;
	overflow: hidden;
	vertical-align: middle;
	background-image: url(mx.png)
}

.rp .rb.de {
	background-position: 0 -168px
}

.rp .rb.ed {
	background-position: 0 -140px
}

.rp .rb.re {
	background-position: 0 -196px
}


/* Form Field */

form.ff h3 {
	margin: 0;
}

form.ff > ul {
	position: relative;
	padding: 0;
	list-style: none
}

form.ff > ul > li {
	margin: 0 17px 7px 0;
	padding: 0
}

form.ff > ul hr {
	margin: 15px 0;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

form.ff label {
	margin: 0 3px;
	white-space: nowrap;
}

form.ff li label:first-child {
	margin-left: 0;
}

form.ff label+input[type=text],
form.ff label+input[type=password],
form.ff label+input[type=url],
form.ff label+input[type=email],
form.ff label+select,
form.ff li>textarea {
	display: block;
	width: 100%;
	font-size: 14px;
	margin: 2px;
	padding: 5px;
}

form.ff label+select {
	padding: 0;
	height: 30px
}

form.ff .exvar .exnm {
	display: block;
	margin-bottom: 3px
}

form.ff .exvar li {
	display: inline-block;
	margin: 0;
}

form.ff .exvar .tel {
	width: auto;
	display: inline;
	padding: 0;
	font-size: inherit
}

form.ff .exvar p {
	margin: 5px 5px;
	font-size: 12px;
	color: #888
}

form.ff .exvar ul {
	margin: 0 5px 5px;
	padding: 0
}

form.ff.secret input[type="password"] {
	display: inline;
	width: 150px;
}

#fUloader {
	margin: 10px 5px 13px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
}

#fUloader .fr {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	min-width: 110px;
	text-align: center;
}

#fUpreview {
	position: relative;
	height: 50px;
	margin: 0 119px 13px 0;
	clear: both;
	display: none;
}

#fUpreview:after {
	content: "";
	display: block;
	clear: both
}

#fUpreview .fpv,
#fUpreview .fls {
	position: absolute;
	float: left
}

#fUpreview .fpv {
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
	padding: 2px;
	margin: 0 10px 5px 0
}

#fUpreview .fpv.is_image {
	cursor: pointer;
}

#fUpreview .fpv.is_image:after {
	content: "★";
	position: absolute;
	top: 0;
	pointer-events: none;
	color: #555;
}

#fUpreview .fpv img {
	display: block;
	width: 50px;
	height: 50px
}

#fUpreview .fls {
	width: 100%;
	margin: 0;
	margin-left: 60px
}

#fUpreview .fls select {
	width: 100%;
	height: 56px
}

#fUpreview .fct {
	position: absolute;
	right: -117px;
	padding: 0px;
	font-size: 12px
}

#fUpreview .fct a {
	padding: 0 5px;
	margin: 0 0 4px;
	width: 40px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #ccc;
	overflow: hidden;
	color: #555
}

.fd {
	position: absolute;
	top: 0;
	left: -3000px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0
}


/* Button Area */

.bna {
	position: relative;
	text-align: center;
	padding: 10px;
	margin: 0;
}

.bna:after {
	content: "";
	display: block;
	clear: both
}

.bn {
	display: inline-block;
	padding: 0 10px;
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	border: 1px solid;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	vertical-align: middle
}

.bn[type=submit],
.bn[type=button] {
	height: 28px
}

.bn[href] {
	height: 26px
}

.bn.dark {
	border-color: #666;
	background: #777 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7e7c78), to(#5c5b58));
	background: #777 -moz-linear-gradient(top, #7e7c78, #5c5b58);
	background-color: #777;
	color: #fff;
	box-shadow: 0 0 1px #fff inset;
	-moz-box-shadow: 0 0 1px #fff inset;
	-webkit-box-shadow: 0 0 1px #fff inset
}

.bn.white {
	border-color: #b5b5b5;
	background: #1b1b1b -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f6f6f6), color-stop(0.5, #f0f0f0), color-stop(0.5, #e4e4e4));
	background: #1b1b1b -moz-linear-gradient(top, #fff, #e4e4e4);
	background-color: #fff;
	color: #000
}

.bn.small {
	display: inline-block;
	padding: 0 5px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
}

input.bn.small {
	height: 22px;
	line-height: 20px;
}

.bn em {
	font-style: normal
}

.bn em.cnt {
	margin-left: 3px
}

.bn[disabled=disabled] {
	opacity: .7
}


/* Tag List */

.tags {
	margin: 0 0 10px
}

.tags a {
	font-size: 12px;
	color: #999
}


/* flag */

.co .vln {
	text-align: right;
	margin-bottom: 10px;
}

.co .vln:after {
	content: "";
	display: block;
	clear: both
}

.co .vln strong {
	display: inline-block;
	padding: 0 8px 0 20px
}

.co .vln a.en strong {
	background: url(../../../../admin/tpl/img/flag.en.gif) no-repeat 0 4px
}

.co .vln a.ko strong {
	background: url(../../../../admin/tpl/img/flag.ko.gif) no-repeat 0 4px
}

.co .vln a.jp strong {
	background: url(../../../../admin/tpl/img/flag.jp.gif) no-repeat 0 4px
}

.co .vln a.fr strong {
	background: url(../../../../admin/tpl/img/flag.fr.gif) no-repeat 0 4px
}

.co .vln a.de strong {
	background: url(../../../../admin/tpl/img/flag.de.gif) no-repeat 0 4px
}

.co .vln a.ru strong {
	background: url(../../../../admin/tpl/img/flag.ru.gif) no-repeat 0 4px
}

.co .vln a.es strong {
	background: url(../../../../admin/tpl/img/flag.es.gif) no-repeat 0 4px
}

.co .vln a.tr strong {
	background: url(../../../../admin/tpl/img/flag.tr.gif) no-repeat 0 4px
}

.co .vln a.vi strong {
	background: url(../../../../admin/tpl/img/flag.vi.gif) no-repeat 0 4px
}

.co .vln a.mn strong {
	background: url(../../../../admin/tpl/img/flag.mn.gif) no-repeat 0 4px
}

.co .vln a.zh-CN strong {
	background: url(../../../../admin/tpl/img/flag.cn.gif) no-repeat 0 4px
}

.co .vln a.zh-TW strong {
	background: url(../../../../admin/tpl/img/flag.tw.gif) no-repeat 0 4px
}

.co .vln a {
	color: #333
}

.co .vln a strong:hover {
	text-decoration: underline
}


/* nav */

.nav,
.file {
	list-style: none;
	padding: 0 7px;
}

.nav li,
.file li {
	padding: 0;
	margin: 2px 0;
	border-top: 1px solid #ccc8be;
}

.nav li:first-child,
.file li:first-child {
	border-top: 0;
}

.nav a,
.file a {
	padding: 5px;
	text-decoration: none;
	display: block;
	color: #333
}

.nav li {
	white-space: nowrap;
}

.nav li a {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url(/ellipsis-xbl.xml#ellipsis);
}

.nav .no {
	display: inline-block;
	color: #999;
	width: 24px;
	letter-spacing: -1px;
	font-size: 12px
}

.nav .cate {
	font-size: 12px;
	color: #777;
	margin-left: 5px;
	position: absolute;
	top: 7px;
	right: 5px;
	letter-spacing: -0.2px;
}

.nav em {
	font-size: 12px;
	color: #999;
}

.nav .usept {
	padding: 0 2px;
}

.nav .sCkChr {
	font-family: Tahoma, Verdana, sans-serif
}


/* file List */

.file .size {
	font-size: 12px;
	margin: 0 0 0 5px;
	padding: 0;
	color: #999
}

.file li a {
	padding-left: 13px;
	margin: 0 0 0 2px;
	background-position: -20px -102px;
}

.rp .file a {
	padding: 0 5px 0 13px;
	background-position: -20px -109px;
	font-size: 12px
}

.file li a.idw {
	font-weight: bold
}

.file li.notvalid a {
	text-decoration: line-through
}

#cl .file {
	padding: 5px;
	border: 1px solid #e8e8e8;
	list-style: none;
}

#cl .file li {
	padding: 0;
	margin: 0;
	border: 0;
	margin-right: 10px;
	display: block;
	font-size: 12px
}

#cl .file li a {
	color: #777
}


/* license */

.lic {
	position: absolute;
	left: 3px;
	bottom: 3px;
	font-size: 12px;
	color: #888;
	text-decoration: none;
	background-color: inherit
}

.lic.fr {
	left: auto;
	right: 5px;
	color: #999
}

div.lic {
	position: static
}

div.lic a {
	color: #999
}


/* sns */

.scSns a[data-type],
.scSns a.scrap {
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 2px;
	width: 16px;
	height: 0;
	line-height: 16px;
	padding: 16px 0 0 0;
	overflow: hidden;
	background: url(../img/common/etc_set.gif) no-repeat 0 0
}

.scSns a[data-type=fa] {
	background-position: 0 -30px
}

.scSns a[data-type=de] {
	background-position: 0 -60px
}

.scSns a.scrap {
	background-position: 0 -90px
}


/* vote */

.scVote a > em:first-child {
	padding: 0 0 0 17px;
	background: url(../img/common/etc_set.gif) no-repeat -17px -17px
}

.scVote a > em.blame {
	background-position: -17px -46px
}

.scVote a > em.declare {
	background-position: -17px -77px
}


/* etc */

.st img.ise {
	width: 11px;
	height: 11PX
}

img.ise.world {
	background-position: 0 -112px;
}

img.ise.coin {
	background-position: -17px -56px;
}

img.ise.scrap {
	background-position: 0px -84px;
}


/* member */

span[class^="member_"] {
	cursor: pointer
}


/*ff*/

@-moz-document url-prefix() {
	.sh {
		padding-right: 107px;
	}
	.sh input[type="search"] {
		height: 18px
	}
}