@charset "utf-8";

/*ie7*/
.scBtn{*margin:0}
#siCat.tabn{*margin-bottom:0}
#siCat.side .cateArea li b{*display:inline !important}
#siLst.gall .scItem{*float:left}
#siLst.gall td.scBox{*padding-bottom:20px}
#siDoc .thmAx img.thum,#siLst.webz .scItem a.thum{*float:none;*position:absolute;*left:5px;*top:3px}
#siFbk .scFrm>li{*zoom:normal}
#siFbk .scFbWt .cmtbtns{*float:right}
#siFbk .scFbWt .scWusr{*display:block !important}
#siFbk.cmt .scFbH .fr{*position:relative;*top:-30px}
#siWrt .scWtag input[type="text"]{*width:80% !important}
#siWrt .scWul .scWli ul li{*display:inline-block;*white-space:nowrap}
#siBody .scLaEt span,#siBody .scLaEt .scItemDesc{*top:5px !important}
#siDoc.book .scRibbon span.caption a{*float:left;*margin-left:20px}

/*filter*/
.scBtn a,.scBtn *{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e2e2e2')}
.scBtn.black a,.scBtn.black *{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777',endColorstr='#353535')}
.scBtn.blue a,.scBtn.blue *{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9164BE',endColorstr='#5034A0')}
#siCat.tabn li a,#siCat.colm .cateArea{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea')}
#siHrm .scFrm,#siLst thead tr div{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e2e2e2')}
#siDoc.widg ul{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7')}
.scBtn a em,#siCat.tabn li.active a{filter:progid:DXImageTransform.Microsoft.gradient(enabled='false') !important}

#siModalWin .bg{filter:alpha(opacity:30)}
#siBody .scTags a.rank.i3{filter:alpha(opacity=40)}
.scBtn *[disabled=disabled]{filter:alpha(opacity=50)}
#siLst.gall .scInfo.aHide,#siDoc.widg .scRibbon .regdate .m,#siWrt .scExTog button:hover,#siWrt label.wrtTxt em,#siFbk label.wrtTxt em{filter:alpha(opacity=60)}
#siCat.side .mubtn.active,#siCat.side .mubtn:hover,#siLst.gall .prtImg em,#siDoc.widg .doct .nick_name,#siNavi li div.cate a,#siNavi li div.no,#siBody .scTags a.rank.i2{filter:alpha(opacity=70)}
#siLst.webz .scItem .wzdate,#siDoc .ipAddress,#siFbk .time{filter:alpha(opacity=80)}
#siModalWin .ie6,#siBody a.scHotTrack span.iefix{filter:alpha(opacity=0)}